/* src/App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0; 
  color: #333;
}

body.dark-mode {
  background-color: #1f1d1d;
  color: #ffffff;
}

header {
  background-color: inherit; 
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:0 20px ;
  button{
    height: fit-content;
    padding: 15px ;
    }
}

label{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

label input{
  border: 1px solid rgb(219, 210, 210);
  width: 50%;
  height: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f5eeee;
}

.country-card {
  border: 1px solid #ccc;
  /* padding: 10px; */
  margin: 10px;
  border-radius: 5px;
}

.details{
  padding:0 10px;
}

.search {
  display: flex;
  /* justify-content: space-between; */
}

#countries-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px ;
  width: 100%;
  /* padding: 0 60px; */
}

.country-card{
  width: 90%;
}

.country-card img{
  width: 100%;
}

@media (max-width: 860px) {
  #countries-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px ;
    width: 100%;
    /* padding: 0 60px; */
  }
  
  .country-card{
    width: 90%;
  }
  
  .country-card img{
    width: 100%;
  }
}
